.hh1{
    position: fixed;
    top: 8px;
    left: 568px;
}
.ppp1{
    position: fixed;
    top: 70px;
    left: 568px;
}
.img111{
    border: 2px solid;
    height: 500px;
    width: 400px;
    position: fixed;
    right: 660px;
    bottom: 80px;
}
