.h1{
    position: fixed;
    top: 8px;
    left: 568px;
}
.pp{
    position: fixed;
    top: 100px;
    left: 568px;
}
.pp1{
    position: fixed;
    top: 160px;
    left: 568px;
}
.pp2{
    position: fixed;
    top: 40px;
    right: 60px;
    opacity: 0;
}
.pp4{
    position: fixed;
    top: 50px;
    right: 20px;
    opacity: 0;
}
.pp5{
    position: fixed;
    top: 240px;
    left: 378px;
}
.pp2:hover{
    opacity: 3;
}
.pp4:hover{
    opacity: 3;
}
.bttn{
    position: fixed;
    top: 40px;
    right: 40px;
    opacity: 0;
}
